{% extends 'base.html' %}
{% load static %}


{% block content %}

<a href="{% url 'login' %}" class="btn btn-lg btn-primary">Belépés – bejelentkezés</a>

Ez a rész javitva lesz


frever

{% load crispy_forms_tags %}

<h2>ModelForm (lenyíló mező adatbázisból):</h2>
<form method="post">
  {% csrf_token %}
  {{ model_form|crispy }}
</form>

<hr>

<h2>ChoiceField Form (lenyíló mező fix opciókkal):</h2>
<form method="post">
  {% csrf_token %}
  {{ choice_form|crispy }}
</form>



  <!--=================================
  Banner -->
  <section class="banner bg-holder bg-overlay-black-30 text-white"
           style="background-image: url('{% static "core/assets/images/hero.png" %}');">

    <div class="container">
      <div class="row">
        <div class="col-12 text-center position-relative">
          <h1 class="text-white mb-3">Find <span class="text-primary"> your </span>Dream Job</h1>
          <p class="lead mb-4 mb-lg-5 fw-normal">Search Jobs, Employment & Career Opportunities</p>
          <div class="job-search-field">
            <div class="job-search-item">
              <form class="form row" action="{% url 'search_job_posts' %}" method="get">
                <div class="col-lg-5">
                  <div class="form-group mb-3">
                    <div class="d-flex">
                      <label class="form-label">What</label>
                      <span class="ms-auto">e.g. job, company, title</span>
                    </div>
                    <div class="position-relative left-icon">
                      <input type="text" class="form-control" name="title" placeholder="Search job, title, position, company, or type keyword">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group mb-3">
                    <div class="d-flex">
                      <label class="form-label">Where</label>
                      <span class="ms-auto">e.g. city, county or postcode</span>
                    </div>
                    <div class="position-relative left-icon">
                      <input type="text" class="form-control location-input" name="address"
                             placeholder="Enter location, city, town or postcode">
                      <i class="far fa-compass"></i>
                      <a href="#" onclick="getLocation()">
                        <div class="detect">
                          <span class="d-none d-sm-block">Detect</span>
                          <i class="fas fa-crosshairs"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-12">
                  <div class="form-group mb-3 form-action">
                    <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-search"></i> Find Jobs
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="job-tag mt-4">
            <ul class="justify-content-center">
              <li class="text-primary">Trending Keywords :</li>
              <li><a href="/search/jobs/?job_category=HOSPITALITY">Hospitality & Tourism,</a></li>
              <li><a href="/search/jobs/?job_category=IT_AND_TELCO">IT & Telecom,</a></li>
              <li><a href="/search/jobs/?job_category=EDUCATION">Education and Engineering</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Banner -->

  <!--=================================
  Category-style -->
  <section class="space-ptb">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 mb-4 mb-lg-0">
          <div class="section-title">
            <h2 class="title">Main categories</h2>
          </div>
          <a class="btn btn-outline btn-lg" href="{% url 'search_job_posts' %}">Advanced Search by Filter</a>
        </div>
        <div class="col-lg-9 mt-0 mt-md-3 mt-lg-0">
          <div class="category-style text-center">
            {% for category in categories %}
            <a href="/search/jobs/?category={{ category.id }}" class="category-item">
              <div class="category-icon mb-4">
                <i class="flaticon-{{category.icon}}"></i>
              </div>
              <h6>{{ category.name }}</h6>
              <span class="mb-0">{{ category.active_job_count }}</span>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Category-style -->

  <!--=================================
  Divider -->
  <div class="container ">
    <div class="row">
      <div class="col-12">
        <hr class="m-0">
      </div>
    </div>
  </div>
  <!--=================================
  Divider -->

  <!--=================================
  Jobs-listing -->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2 class="title">Jobs You May be Interested in</h2>
          </div>
        </div>
        <div class="col-12">
          <div class="browse-job d-flex border-0 pb-3">
            <div class="mb-4 mb-md-0">
              <ul class="nav nav-tabs justify-content-center d-flex" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                     aria-controls="home" aria-selected="true">Hot Jobs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                     aria-controls="profile" aria-selected="false">Recent Jobs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
                     aria-controls="contact" aria-selected="false">Popular Jobs</a>
                </li>
              </ul>
            </div>
            <div class="job-found ms-auto mb-0">
              <span class="badge badge-lg bg-primary"></span>
              <h6 class="ms-3 mb-0">Job Found</h6>
            </div>
          </div>
          <div class="tab-content" id="myTabContent">
            <!-- Hot jobs -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            </div>
            <!-- Recent jobs -->
            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            </div>

            <!-- Popular jobs -->
            <div class="tab-pane fade show" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            </div>
          </div>
          <div class="col-12 justify-content-center d-flex mt-md-5 mt-4">
            <a class="btn btn-outline btn-lg" href="{% url 'search_job_posts' %}">View More Jobs</a>
          </div>
        </div>
      </div>
  </section>
  <!--=================================
  Jobs-listing -->

  <!--=================================
  Candidates & Companies -->
  {% load freelancer_tags %}
  <section class="space-pb">
    <div class="container">
      <div class="row">

        <div class="col-lg-1"></div>

      </div>
    </div>
  </section>
  <!--=================================
  Candidates & Companies -->

  <!--=================================
  Easiest Way to Use -->
  <section class="space-pb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="section-title center">
            <h2 class="title">Easiest Way to Use</h2>
            <p>Give yourself the power of responsibility. Remind yourself the only thing stopping you is yourself.</p>
          </div>
        </div>
      </div>
      <div class="row bg-holder-pattern mt-3 mt-md-4 me-md-0 ms-md-0"
           style="background-image: url('images/step/pattern-01.png');">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="feature-step text-center">
            <div class="feature-info-icon">
              <i class="flaticon-resume"></i>
            </div>
            <div class="feature-info-content pb-2 pb-md-0">
              <h5>Create Account</h5>
              <p class="mb-0">Create an account and access your saved settings on any device.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="feature-step text-center">
            <div class="feature-info-icon">
              <i class="flaticon-recruitment"></i>
            </div>
            <div class="feature-info-content pb-2 pb-md-0">
              <h5>Find Your Vacancy</h5>
              <p class="mb-0">Don't just find. Be found. Put your CV in front of great employers.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div class="feature-step text-center">
            <div class="feature-info-icon">
              <i class="flaticon-position"></i>
            </div>
            <div class="feature-info-content pb-2 pb-md-0">
              <h5>Get A Job</h5>
              <p class="mb-0">Your next career move starts here. Choose Job from thousands of companies</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Easiest Way to Use -->

  <!--=================================
  Feature-info -->
  <!-- <section class="space-pb">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="feature-info feature-info-02 p-4 p-md-5 bg-primary">
            <div class="feature-info-icon mb-3 text-dark">
              <i class="flaticon-team"></i>
            </div>
            <div class="feature-info-content ps-sm-4 ps-0">
              <h5 class="text-white">Looking For Job?</h5>
              <p class="text-white">Your next role could be with one of these top leading organizations.</p>
              <a href="#">Apply now<i class="fas fa-long-arrow-alt-right"></i> </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-info feature-info-02 p-4 p-md-5 bg-dark">
            <div class="feature-info-icon mb-3 text-primary">
              <i class="flaticon-job-3"></i>
            </div>
            <div class="feature-info-content ps-sm-4 ps-0">
              <h5 class="text-white">Are You Recruiting?</h5>
              <p class="text-white">Five million searchable CVs in one place with our linked CV database.</p>
              <a href="#">Post a job<i class="fas fa-long-arrow-alt-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--=================================
  Feature-info -->

  <!--=================================
  Plans&and Packages -->
  <!-- <section class="space-pb">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-xl-3 mb-2 mb-md-4 mb-lg-0">
          <div class="section-title">
            <h2 class="title">Buy Our Plans and Packages</h2>
            <p>So, make the decision to move forward. Commit your decision to paper, just to bring it into focus. Then,
              go for it!</p>
          </div>
          <a class="btn btn-outline btn-lg" href="#">Try 1 month free</a>
        </div>
        <div class="col-lg-8 col-xl-9 pt-0 pt-md-3 pt-lg-0">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <div class="pricing-plan">
                <div class="pricing-price">
                  <span><sup>$</sup><strong>0</strong>/month</span>
                  <h5 class="pricing-title">Free Forever</h5>
                </div>
                <ul class="list-unstyled pricing-list">
                  <li>Appear in general results</li>
                  <li>Accept mobile app</li>
                  <li>Manage candidates directly from your account</li>
                </ul>
                <a class="btn btn-outline" href="#">Post a Job</a>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="pricing-plan active">
                <div class="pricing-price">
                  <span><sup>$</sup><strong>10</strong>/day</span>
                  <h5 class="pricing-title">Sponsor Jobs</h5>
                </div>
                <ul class="list-unstyled pricing-list">
                  <li>Premium placement</li>
                  <li>PPC on your Job</li>
                  <li>Reach more candidates</li>
                  <li>Desktop, mobile and Job Alerts</li>
                </ul>
                <a class="btn btn-outline" href="#">Get Started</a>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="pricing-plan mb-0 mb-md-3">
                <div class="pricing-price">
                  <span><sup>$</sup><strong>299</strong>/month</span>
                  <h5 class="pricing-title">Premium Plan</h5>
                </div>
                <ul class="list-unstyled pricing-list">
                  <li>Job ad live for six-weeks</li>
                  <li>50 Feature Jobs</li>
                  <li>Premium placement</li>
                  <li>Desktop, mobile and Job Alerts</li>
                </ul>
                <a class="btn btn-outline" href="#">Select Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--=================================
  Plans&and Packages -->

  <!--=================================
  Why You Choose Job Among Other Job Site -->
  <section class="space-pb">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-md-5 mb-lg-0 pe-lg-5">
          <iframe width="100%" height="430" src="https://www.youtube.com/embed/rAtwi0b-yHU?si=bmGazfnZvi290-j9&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <!-- <div class="row">
            <div class="col-sm-7">
              <img class="img-fluid w-100" src="images/about/01.png" alt="">
            </div>
            <div class="col-sm-5 mt-sm-5 mt-4">
              <img class="img-fluid mb-sm-2 w-100" src="images/about/02.png" alt="">
              <div class=" mt-3">
                <a class="popup-icon popup-youtube bg-holder bg-overlay-black-80"
                   href="https://www.youtube.com/watch?v=LgvseYYhqU0">
                  <i class="flaticon-play-button"></i>
                  <img class="img-fluid w-100" src="images/about/03.png" alt="">
                </a>
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-lg-6 pt-2 pt-sm-3 pt-md-0">
          <div class="section-title">
            <h2 class="title">Why You Choose Job Among Other Job Site?</h2>
            <p>I truly believe Augustine’s words are true and if you look at history you know it is true. There are many
              people in the world with amazing talents. who realize only a small percentage of their potential. We all
              know people who live this truth.</p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="d-flex mb-lg-5 mb-4">
                <i class="font-xlll text-primary flaticon-team"></i>
                <h6 class="ps-3 align-self-center mb-0">Best talented people</h6>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex mb-lg-5 mb-4">
                <i class="font-xlll text-primary flaticon-job-3"></i>
                <h6 class="ps-3 align-self-center mb-0">Easy to find candidate</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="d-flex mb-md-0 mb-4">
                <i class="font-xlll text-primary flaticon-chat"></i>
                <h6 class="ps-3 align-self-center mb-0">Easy to communicate</h6>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex">
                <i class="font-xlll text-primary flaticon-job-2"></i>
                <h6 class="ps-3 align-self-center mb-0">Global recruitment option</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Why You Choose Job Among Other Job Site -->

  <!--=================================
  Clients Say About Us -->
  <section class="space-pb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="section-title center">
            <h2 class="title">Clients Say About Us</h2>
          </div>
        </div>
      </div>
      <div class="widget">
        <div class="owl-carousel owl-nav-top-right" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="5">
          <div class="item">
            <div class="testimonial-item-02-small text-center">
              <i class="fas fa-quote-left quotes"></i>
              <div class="testimonial-content">
                <p>
                  I keep noticing that this company’s direction and contact persons are always very friendly, professional, and kind. This company has a special value to me and certainly to the world as well ! </p>
              </div>
              <div class="testimonial-author">
                <div class="testimonial-avatar avatar avatar-lg">
                  <img class="img-fluid rounded-circle" src="https://placehold.co/60x60" alt="">
                </div>
                <div class="testimonial-name d-flex justify-content-center">
                  <h6 class="text-primary me-2">Marc K.</h6>
                  <!-- <span>Customer Service</span> -->
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item-02-small text-center">
              <i class="fas fa-quote-left quotes"></i>
              <div class="testimonial-content">
                <p>When I wanted to change my job, I got advice here on how to behave and how to proceed. I was totally unhappy. Then I got to know this service and really liked talking to them, the honest, kind words with which they supported me and helped me to be myself again.</p>
              </div>
              <div class="testimonial-author">
                <div class="testimonial-avatar avatar avatar-lg">
                  <img class="img-fluid rounded-circle" src="https://placehold.co/60x60" alt="">
                </div>
                <div class="testimonial-name d-flex justify-content-center">
                  <h6 class="text-primary me-2">Raf W.</h6>
                  <!-- <span>Product Designer</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Clients Say About Us -->

  <!--=================================
  Browse Hundreds of Jobs -->
  <!-- <section class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-light px-lg-5">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <div class="px-md-5 px-4 pt-5 pt-lg-0">
                  <div class="section-title">
                    <h2 class="title">Browse Hundreds of Jobs</h2>
                    <p class="lead">We are efficiently delivering tons of jobs straight to your pocket.</p>
                  </div>
                  <div class="d-block d-sm-flex mb-0 mb-lg-2">
                    <a class="btn btn-white btn-sm btn-app me-0 me-sm-2 mb-2 mb-sm-0 py-2" href="#">
                      <i class="fab fa-apple"></i>
                      <div class="btn-text text-start">
                        <small class="fw-normal">Download on the </small>
                        <span class="mb-0 d-block">App Store</span>
                      </div>
                    </a>
                    <a class="btn btn-white btn-sm btn-app mb-2 mb-sm-0 py-2" href="#">
                      <i class="fab fa-google-play"></i>
                      <div class="btn-text text-start">
                        <small class="fw-normal">Get it on  </small>
                        <span class="mb-0 d-block">Google Play</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 mt-4 mt-md-5 text-center">
                <img class="img-fluid" src="images/mobile-app.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--=================================
  Browse Hundreds of Jobs -->

  <!--=================================
  Blog and Career Advice -->
  <section class="space-ptb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="section-title center">
            <h2 class="title">Blog and Career Advice</h2>
            <p>Data trends and insights, tips for employers, product updates and best practices</p>
          </div>
        </div>
      </div>
      <div class="row">


      </div>
    </div>
  </section>
  <!--=================================
  Blog and Career Advice -->


{% endblock %}
