{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} {{ block.super }} {% endblock %}
{% block content %}


<div class="nk-content-wrap">
  <div class="nk-content ">
    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
      <div class="brand-logo pb-4 text-center">
        <a href="html/index.html" class="logo-link">
          <img class="logo-light logo-img logo-img-lg" src="{% static 'core/images/logo_.png' %}"
            srcset="{% static 'core/images/logo_.png' %} 2x" alt="logo">
          <img class="logo-dark logo-img logo-img-lg" src="{% static 'core/images/logo_.png' %}"
            srcset="{% static 'core/images/logo_.png' %} 2x" alt="logo-dark">
        </a>
      </div>
      <div class="card card-bordered">
        <div class="card-inner card-inner-lg">
          <div class="nk-block-head pb-0">
            <div class="nk-block-head-content">
              <h4 class="nk-block-title">Password reset successful</h4>
              <div class="nk-block-des">
                <p>You have been sent an email with instructions for resetting your password. Please check your inbox.</p>
              </div>
            </div>
          </div>
          <a href="{% url 'login' %}" class="btn btn-primary d-grid w-100 mt-3">Return to login</a>

      </div>
    </div>
  </div>
</div>

{% endblock %}
