{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ block.super }} {% endblock %}

{% block aside %}
{% include 'aside/aside_dashboard.html' with user_type=request.user.user_type %}
{% endblock %}

{% block content %}
<div class="nk-content-wrap">
  {% include 'dashboard/header_dashboard.html' %}
  <div class="nk-block">
    <div class="card card-bordered">
      <div class="card-inner">
        <div class="nk-block">
          <div class="nk-block-head">
            <div class="nk-block-between">
              <div class="nk-block-head-content">
                <h5 class="title">Password Changed Successfully!</h5>
                <!-- <p>For security reasons, please use a strong and unique password</p> -->
              </div>
            </div>
          </div>
          <div class="alert alert-success alert-icon"><em class="icon ni ni-check-circle"></em>Your password has been
            updated!</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
