{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ block.super }} | Company Profile {% endblock %}
{% block content %}

<div class="nk-content-wrap">
  {% include 'profile/header_profile.html' with profile=profile %}
  <div class="nk-block">
    <div class="row g-gs">
      <div class="col-12 col-lg-8">
        <div class="card card-bordered">
          <div class="card-inner">
            <div class="nk-block">
              <div class="nk-block-head nk-block-head-line">
                <h6 class="title overline-title text-base">Company Information</h6>
              </div>
              <div class="profile-ud-list">
                <div class="profile-ud-item">
                    <div class="profile-ud wider">
                        <span class="profile-ud-label">Main activity</span>
                        <span class="profile-ud-value">{{ profile.activity|default:"-" }}</span>
                    </div>
                </div>
                <div class="profile-ud-item">
                    <div class="profile-ud wider">
                        <span class="profile-ud-label">Sub-activities</span>
                        <span class="profile-ud-value">{{ profile.sub_activity|default:"No Sub-activities" }}</span>
                    </div>
                </div>
                <div class="profile-ud-item">
                    <div class="profile-ud wider">
                        <span class="profile-ud-label">Headquarters</span>
                        <span class="profile-ud-value">{{ profile.headquarters|default:"-" }}</span>
                    </div>
                </div>
                <div class="profile-ud-item">
                    <div class="profile-ud wider">
                        <span class="profile-ud-label">Address</span>
                        <span class="profile-ud-value">{{ profile.get_full_address|default:"Address is Private" }}</span>
                    </div>
                </div>
                <div class="profile-ud-item">
                  <div class="profile-ud wider">
                      <span class="profile-ud-label">Year of foundation</span>
                      <span class="profile-ud-value">{{ profile.year_of_foundation|default:"-" }}</span>
                  </div>
              </div>
              <div class="profile-ud-item">
                <div class="profile-ud wider">
                    <span class="profile-ud-label">Number of Workers</span>
                    <span class="profile-ud-value">{{ profile.number_of_worker|default:"-" }}</span>
                </div>
            </div>
            </div>
            </div>

            <div class="nk-divider divider md"></div>

            <div class="nk-block">
              <div class="nk-block-head nk-block-head-line">
                  <h6 class="title overline-title text-base">Public Information</h6>
              </div>
              <div class="profile-ud-list">
                  <div class="profile-ud-item">
                      <div class="profile-ud wider">
                          <span class="profile-ud-label">Phone</span>
                          <span class="profile-ud-value">{{ profile.phone_number|default:"-" }}</span>
                      </div>
                  </div>
                  <div class="profile-ud-item">
                      <div class="profile-ud wider">
                          <span class="profile-ud-label">Email</span>
                          <span class="profile-ud-value">{{ profile.company_email|default:"-" }}</span>
                      </div>
                  </div>
                  <div class="profile-ud-item">
                      <div class="profile-ud wider">
                          <span class="profile-ud-label">Website</span>
                          <span class="profile-ud-value">{{ profile.website|default:"-" }}</span>
                      </div>
                  </div>
                  <div class="profile-ud-item">
                    <div class="profile-ud wider">
                        <span class="profile-ud-label">Languages</span>
                        <span class="profile-ud-value">{{ profile.internal_communication_languages.all|join:", "|default:"-" }}</span>
                    </div>
                </div>
              </div>
            </div>

            <div class="nk-divider divider md"></div>
            <div class="nk-block">
              <div class="nk-block-head nk-block-head-line">
                <h6 class="title overline-title text-base">About Us</h6>
              </div>
              <p>{{ profile.company_information|default:"-"|safe }}</p>
            </div>

            <div class="nk-divider divider md"></div>

            <div class="nk-block">
              <div class="nk-block-head nk-block-head-line">
                <h6 class="title overline-title text-base">Introduction</h6>
              </div>
              <p>{{ profile.introduction|default:"-"|safe }}</p>
            </div>
          </div>
        </div>


        {% if documents %}
        <div class="nk-block-head">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h5 class="title">Company Documents</h5>
              <p>Basic info, like your name and address, that you use on Nio Platform.</p>
            </div>
          </div>
        </div>

        <ul class="row g-gs preview-icon-svg mb-5">
          {% for document in documents %}
          <li class="col-lg-3 col-6 col-sm-4">
            <a href="{{document.document_file.url}}" target="_blank">
               <div class="preview-icon-box card card-bordered">
              <div class="preview-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                  <rect x="15" y="5" width="56" height="70" rx="6" ry="6" fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></rect>
                  <path
                    d="M69.88,85H30.12A6.06,6.06,0,0,1,24,79V21a6.06,6.06,0,0,1,6.12-6H59.66L76,30.47V79A6.06,6.06,0,0,1,69.88,85Z"
                    fill="#fff" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                  <polyline points="60 16 60 31 75 31.07" fill="none" stroke="#6576ff" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></polyline>
                  <line x1="58" y1="50" x2="32" y2="50" fill="none" stroke="#c4cefe" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></line>
                  <line x1="46" y1="38" x2="32" y2="38" fill="none" stroke="#c4cefe" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></line>
                  <line x1="68" y1="44" x2="32" y2="44" fill="none" stroke="#c4cefe" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></line>
                  <line x1="68" y1="56" x2="32" y2="56" fill="none" stroke="#c4cefe" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></line>
                  <line x1="58" y1="62" x2="32" y2="62" fill="none" stroke="#c4cefe" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></line>
                  <line x1="68" y1="68" x2="32" y2="68" fill="none" stroke="#c4cefe" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></line>
                  <line x1="58" y1="75" x2="32" y2="75" fill="none" stroke="#c4cefe" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></line>
                </svg></div><span class="preview-icon-name">{{document.name}}</span>
            </div>
            </a>

          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if active_jobs %}
        <div class="nk-block-head">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h5 class="title">Active jobs</h5>
              <p>Basic info, like your name and address, that you use on Nio Platform.</p>
            </div>
          </div>
        </div>

        {% for job_post in active_jobs %}
          <div class="card card-bordered">
            <div class="card-inner">
              <div class="project">
                <div class="project-head">
                  <a href="{% url 'job_detail' job_post.slug %}" class="project-title">

                    <div class="project-info">
                      <h6 class="title">{{ job_post.title }}</h6>
                      <span class="sub-text">
                        {% if job_post.created_by.profile.company_logo %}
                        {{ job_post.created_by.company.profile.company_name}}
                        {% else %}
                        {{ job_post.created_by.company.profile.public_name}}
                        {% endif %}
                      </span>
                      <div>
                        <em class="icon ni ni-folder"></em>
                        <small>{{ job_post.category|default:"-" }} > {{ job_post.sub_category|default:"-" }}</small>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="project-details mb-0">
                    <div>
                      <p>{{ job_post.job_description|truncatewords:20|striptags }}</p>
                    </div>
                    <div class="mt-2">

                      <span class="badge badge-dim bg-light text-gray me-1">
                        <em class="icon ni ni-calendar me-1"></em>
                        {% if job_post.working_time.exists %}
                        {{ job_post.working_time.all|join:", " }}
                        {% else %}
                        -
                        {% endif %}
                      </span>

                      <span class="badge badge-dim bg-light text-gray me-1">
                        <em class="icon ni ni-clock me-1"></em>
                        {% if job_post.work_schedule.exists %}
                        {{ job_post.work_schedule.all|join:", " }}
                        {% else %}
                        -
                        {% endif %}
                      </span>

                      {% if job_post.educations.exists %}
                      <span class="badge badge-dim bg-light text-gray me-1">
                        <em class="icon ni ni-book me-1"></em>
                        {{ job_post.educations.all|join:", " }}
                      </span>
                      {% else %}
                      <span class="badge badge-dim bg-light me-1">-</span>
                      {% endif %}

                    </div>

                    <div class="d-flex mt-1 justify-content-between align-items-center">
                      <small><em class="icon ni ni-map-pin"></em> {{ job_post.job_location|default:"-" }}, {{ job_post.job_city|default:"-" }} • Last updated:
                        {{job_post.updated_at}}</small>
                      <a href="{% url 'job_detail' job_post.slug %}" class="btn btn-sm btn-primary"><em class="icon ni ni-eye"></em></a>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% endif %}

      </div>

      <div class="col-12 col-lg-4">
        <div class="card card-bordered">
          <div class="card-inner">
            {% include 'profile/common/contact.html' with profile=profile %}

            <div class="nk-divider divider md"></div>

            {% include 'profile/common/map.html' with profile=profile %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
